{% macro main() %}
<section
  id="about"
  aria-labelledby="about-title"
  class="g!width=100%; g!padding=24px; g!margin=calc(5%_-_24px)_0; g!display=grid; g!grid-template-rows=max-content_auto; g!grid-row-gap=24px; g!height=max-content;"
>
  <header>
    <h2
      id="about-title"
      class="g!font-size=mrs(20px_24px_380px_800px); g!color=var(--brand-11);"
    >
      About
    </h2>
  </header>
  <div>
    <p class="g!font-size=mrs(14px_16px_380px_800px);">
      I'm a tech enthusiast with a passion for coding and a keen interest in
      science. I started my journey in software engineering with C, C++, and
      Python, but my curiosity has led me to explore a variety of fields
      including web development, AI, and data science. Inspired by Robert
      Heinlein's quote, "Specialization is for insects," I strive to keep my
      skills diverse and adaptable.
    </p>
    <p class="g!font-size=mrs(14px_16px_380px_800px);">
      My career has taken me from small startups to large corporations, allowing
      me to contribute to a myriad of exciting projects. Whether it's
      architecting a complex system or diving into the nitty-gritty of coding, I
      thrive on solving problems and creating innovative solutions.
    </p>
    <p class="g!font-size=mrs(14px_16px_380px_800px);">
      When I'm not immersed in code, I cherish spending time with my family. My
      wife Dasha and daughter Varya are my greatest joys. We love exploring new
      places, visiting museums, and enjoying nature. Varvara dreams big—she's
      aspiring to be everything from a scientist to a dragon! Her boundless
      curiosity drives her, and we often find ourselves dreaming up stories and
      making music together. Dasha, a budding data scientist, shares my love for
      physics and the cosmos.
    </p>
  </div>
</section>
{% endmacro main %}
