{% macro main() %}
<section
  id="experience"
  aria-labelledby="experience-title"
  class="g!width=100%; g!padding=24px; g!margin=calc(5%_-_24px)_0; g!display=grid; g!grid-template-rows=max-content_auto; g!grid-row-gap=24px; g!height=max-content;"
>
  <header class="g!display=grid; g!grid-row-gap=12px;">
    <h2
      id="experience-title"
      class="g!font-size=mrs(20px_24px_380px_800px); g!color=var(--brand-11);"
    >
      Experience
    </h2>

    <div
      id="experience-download-container"
      class="g!display=grid; g!grid-template-rows=max-content_max-content; g!grid-row-gap=6px; g!md__grid-template-columns=max-content_max-content; g!md__grid-column-gap=12px; g!md__grid-row-gap=0;"
    >
      <button
        id="download-profile"
        aria-label="Download profile as PDF"
        class="g!border=1px_solid_var(--brand-7); g!font-size=mrs(12px_14px_380px_800px); g!color=var(--brand-12); g!hover:color=var(--brand-11); g!cursor=pointer; g!transition=all_$tr-fast; g!background-color=var(--brand-3); g!hover:background-color=var(--brand-4); g!active:background-color=var(--brand-5)!important;"
      >
        Download profile
      </button>
      <button
        id="download-resume"
        aria-label="Download resume as PDF"
        class="g!border=1px_solid_var(--brand-7); g!font-size=mrs(12px_14px_380px_800px); g!color=var(--brand-12); g!hover:color=var(--brand-11); g!cursor=pointer; g!transition=all_$tr-fast; g!background-color=var(--brand-3); g!hover:background-color=var(--brand-4); g!active:background-color=var(--brand-5)!important;"
      >
        Download resume
      </button>
    </div>
  </header>
  <div
    class="g!display=grid; g!grid-template-rows=max-content_auto; g!grid-row-gap=12px;"
  >
    <p class="g!font-size=mrs(14px_16px_380px_800px);">
      Over the years, I've had the chance to try many different roles in the
      tech industry. From planning product roadmaps and writing code to
      mentoring new developers, each experience has been part of my journey of
      growth and learning. I've worked with talented people across various
      countries and companies, always aiming to create innovative solutions and
      supportive team environments. My journey has helped me shape the technical
      direction of projects, lead creative efforts, and tackle new challenges in
      the ever-changing tech world.
    </p>
    <p class="g!font-size=mrs(14px_16px_380px_800px);">
      My career has been a diverse exploration of technologies and roles, where
      each position has enriched my professional journey. As a Front End
      Architect, I have not only defined and implemented project architectures
      but also guided teams through complex technical challenges. My passion for
      mentoring has seen me support and develop new talents, ensuring cohesive
      and innovative team dynamics.
    </p>
    <p class="g!font-size=mrs(14px_16px_380px_800px);">
      In senior development roles, I have continuously sought to optimize and
      enhance systems, driving improvements through thoughtful solutions and
      technological advancements. Teaching has also been a significant part of
      my career, where I've enjoyed sharing my knowledge in Python development,
      emphasizing the importance of continuous learning and skill development.
    </p>
    <p class="g!font-size=mrs(14px_16px_380px_800px);">
      Leading projects has allowed me to shape product roadmaps and influence
      the technical direction of various initiatives. Whether working on
      cutting-edge technologies for self-driving cars or automating production
      processes, my focus has always been on delivering high-quality, impactful
      solutions.
    </p>
    <p class="g!font-size=mrs(14px_16px_380px_800px);">
      For a detailed view of my professional journey, you can download my full
      resume or profile by clicking the buttons above, or visit my LinkedIn page
      by clicking the link.
    </p>
  </div>
</section>
{% endmacro main %}
